.heading {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
.heading > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}
.heading > h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.formm {
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* width: 75%; */
  margin: auto auto;
}
.svg2 {
  height: 70vh;
  width: 550px;
  padding: 10px;
}
.admin {
  padding: 20px;
}
