
body{
	transition: 1s;
}
.btn:focus{
	box-shadow: none;
}
.msy-nav{
	padding: 0;
	height: 80px;
}
.navbar{background-color:rgba(0,0,0,.2)}
.msy-nav-mobile{
	display: none;
}


.msy-logo{
	width: 183px;
	height: 80px;
}
.msy-logo img{
	width: 183px;
	height: 80px;
}
.msy-menu{
	max-width:  865px;
}

.msy-menu-content{
	margin-right: 60px;
	width:  614px;
}

.msy-menu-content ul{
	width: 100%;
	margin:0;
	padding: 0;  
}
.msy-menu-content li{
	list-style: none;
	font-family: 'Inter', sans-serif;

}
.msy-menu-content li a{
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #FFFFFF;
}
.fa-angle-down{
	font-family:  generic;
}
.msy-not-contact{
	width: 210px;
}
.msy-notify button{
	border-radius: 50%;
	background: #01338D;
}
.msy-contactUs button{
	background: #01338D;
	color: #ffffff;
}
.msy-notify button i{
	color: yellow;
}
.fas{
	color: white;
}




/**courses***********/

.msy-course-type{
	font-family: 'Inter', sans-serif;
	padding:135px 0;
	background: #FAFAFA;
	font-family: 'Inter', sans-serif;
}
.msy-course-type1{
	margin: 0 auto;
	max-width: 954px;
}
.msy-course-backbtn{
	margin-bottom: 54px;
}
.msy-course-backbtn a{
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.msy-course-backbtn span{
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.msy-course-head{
	margin-bottom: 40px;
}
.msy-course-head-sub{
	border-bottom: 3px solid rgba(188, 191, 197, 0.23);;
}
.msy-course-head-sub button{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	padding-bottom: 3px;
	color: rgb(170, 167, 167);
	border-radius: 0;
}
#Courses-cbse{
	color: #000000;
	border-bottom: 4px solid #01338D; ;
}
.mys-cbse{
	padding: 0;
}
.msy-sub-cbse{
	background: #ffffff;
	padding: 24px;
	width: 30%;
	margin-bottom: 24px;
	box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
	border-radius: 10px;
}
.msy-sub-cbse h1{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #069436;
}
.msy-sub-cbse-head{
    position: relative;

}

.msy-sub-cbse-head::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 30%;
    left: 0;
    border-top: 4px solid #069436;
}




/**Footer**/

.msy-footer{
	margin: 0 auto;
	background:  #0B0D17;
	padding: 112px 0;
}

.msy-footer-cont{
	margin: 0 auto;
	max-width: 1110px;
}
.msy-footer-logo{
	margin: 0 auto;
	width: 140px;
	height: 53px;
	background: #ffffff;
	margin-bottom: 38px;
}
.msy-footer-item ul{
	margin: 0 auto;
	padding: 0;
	max-width: 900px;
	margin-bottom: 62px;
	list-style: none;
	text-decoration: none;
	

}
.msy-footer-item ul li a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */


	color: #FFFFFF;

}

.msy-footer-bar{
	margin-bottom:  8px;
	border-bottom: 2px solid rgba(255,255,255,0.8);
}
.msy-footer-social ul{
	list-style: none;
}
.msy-footer-social ul li{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	float: right;
	margin-left: 16px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
}
.msy-footer-social ul li a{
	font-size: 12px;
	border-radius: 50%;
	color: #ffffff;
	text-decoration: none;

}


/***************** Take quizes ******************/
.msy-online-test-btn{
	padding: 0;
}
.msy-online-test-btn button{
	font-family: 'Inter', sans-serif;
	background: #069436;
	border-radius: 6px;
	padding: 12px 32px ;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #FFFFFF;

}




























.carousel-control-prev-icon, .carousel-control-next-icon{
	color: white;
	background: black;
}
.temp{
	border: solid 2px black;
}



















   

