i{
    color: inherit;
    padding: 5px;
  }
  
  .testimonialCards {
    width: 90%;
  }
  
  .container.header-brand-div{
    max-width: 90%;
    margin: auto;
  }
  
  .header-brand-div {
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
  }

  .headDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  
.header-brand{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0px !important;
}

  .header-brand li{
    padding: 20px;
  }


  .sliderImages {
    width: 100% !important;
  }
  
  .slider{
    max-width: 100% !important;
    padding: 0 !important;
  }
  
  .modalCloseButtonDiv{
    width: 100%;
    margin-bottom: 30px;
  }
  
  .modalCloseButton{
    float: right;
    
    font-size: 200%;
    cursor: pointer;
    color: var(--secondaryColor);
  }
  .modalCloseButton i{
    color: var(--ternaryColor);
  }
  
  
  .modalCloseButton:hover i{
    color: var(--ternaryColor);
  }
  
  .modalOuterDiv .yl-testimonial-text-2{
    margin-top: 50px;
  }
  
  .modalOuterDiv{
    position: relative;

  }
  
  .modalOuterDiv .yl-testimonial-icon-2{
    float: right !important;
    position: unset !important;
  }
  .modalOuterDiv .yl-testimonial-img-text-2{
    padding: 10px 20px 50px;
  }
  
  .yl-department-section .modalOuterDiv{
    max-width: 80% !important;
  }
  
  .showMoreBtn{
    margin-top: 50px;
  }
  
  
  .displaySelectorDiv ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondaryColor);
  width: 70%;
  margin-left:15% ;
  border-radius: 10px;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  }
  
  .displaySelectorDiv ul li{
    /* background-color: wheat; */
    width: 33.33%;
    display: block;
    text-align: center;
    /* border: 1px solid yellow; */
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
  }
  
  .displaySelectorDiv ul li:hover{
    background-color: var(--ternaryColor);
    /* color: #fff; */
  }
  
  .displaySelectorDiv .selected{
    background-color: var(--ternaryColor);
    height: 100%;
  
  }



  
  .container.slideShow{
    padding-top:80px ;
    width: 100% !important;
    background-color: rgb(247, 247, 247) !important;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    min-height: 60vh;
    padding-bottom: 50px;
  }
  
  
  .container.slideShow .title-watermark{
    text-align: center !important;
    width: 100%;
  }
  
  .container.slideShow .yl-section-title h3{
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 50px;
  }
  
  
  @media (max-width:1200px) {
    .container.slideShow{
      height: max-content;
    }
  }
  
  .container.slideShow .row{
    display: flex;
  }
  
  .container.slideShow .row .container{
    margin: auto;
    width: 55%;
  }
  
  .messages{
    margin-top: 50px;
  }
  .about-page-about-text-wrap, .textImp{
    text-align: justify !important;
  }
  
  .dropdown-menu{
    list-style: none !important;
  }
  
  .notificationText{
    margin: auto;
    /* border-left: 2px solid var(--ternaryColor); */
    border-left: 2px solid;
    border-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .notificationText .yl-blog-meta-2{
    width: 100%;
    /* margin-left: 10%; */
    text-align: left;
    padding: 10px;
  
  }
  
  .notifyDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
  }
  
  .notifyContainer{
    height: 100%;
  }
  
  .modalContainer{
    position: relative;
  }
  
  
  .modalContainer .modalCloseButton{
    margin-bottom: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
  }
  .moreCourses{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    /* padding: 10px !important; */
    margin: 10px 0;
    border-bottom: 2px solid #000;
  }

  .moreCourses h3{
    padding-bottom: 10px;
  }

  .yl-recent-blog-img{
    display: flex;
    height: 100% !important;
  }
  
  .yl-recent-blog-img img{
    margin: auto;
  }
  
  .yl-blog-widget-wrap .yl-recent-blog-widget .yl-recent-blog-img-text{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .yl-feature-content .yl-headline p{
    text-align: justify !important;
  }
  
  .readMore{
    border: 0 !important;;
    background-color: var(--secondaryColor);
  }
  
  .readMore:hover{
    background-color: var(--ternaryColor);
  }
  
  .yl-instructor-img-text:hover .readMore{
    background-color: var(--ternaryColor);
  
  }
  
  
  footer{
    background-color: var(--ternaryColor);
    color: #fff !important;
  }
  
  footer .yl-footer-logo-widget p{
    color: inherit !important;
    text-align: justify !important;
  }


  
  .modalOuterDiv .yl-instructor-img-text:hover .yl-ins-course-no,
  .modalOuterDiv .yl-instructor-img-text:hover h3 {
    color: #000 !important;
  }

.embed-responsive.embed-responsive-16by9.videoDiv{
  margin: 10px;
}

.imageViewer{
  height: 80vh;
  margin: auto;
}

.logo-img-div{
  max-width: 40%;
  height: 100%;
  vertical-align: middle;
}
.brand-name-container{
  width: 60%;
  vertical-align: middle;
}




  @media screen and (max-width: 680px) {
    .displaySelectorDiv ul{
      width: 100%;
      margin-left:0% ;
      overflow: hidden;
      }
    
      .container.slideShow .row .container{
        
        width: 90%;
      }
  
  }

  .yl-header-menu-wrap {
    padding: 20px 0px;
    border-top: 3px solid var(--primaryColor);
  }
  @media (max-width: 991px) {
    .container.slideShow .row .container{
      width: 80%;
    }
    .notificationText{
      margin: auto;
      /* border-left: 2px solid var(--ternaryColor); */
      border-left: none;
    }
    .yl-header-menu-wrap {
      padding: 0px !important;
    }
  }

.course-details-overview .overViewDiv{
  width: max-content;
}

.courseOverViewBox{
  overflow-x: scroll;
}

.brand-name-container{
  width: 60%;
}

.headDiv .brandDiv{
  width: 50%;
  overflow: hidden;
}


.headDiv .header-contact{
  width: 50%;
  overflow: hidden;
}


.brandContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style:none; 
  width: 100%;     
  justify-content: space-between;

}

.modalDiv{
  width: 50%;
  margin: auto;
  top: 25%;
  margin-left:25%;
  z-index: 1000;
  position: absolute;
}


@media (max-width:991px){
  .modalDiv{
    width: 80%;
    margin: auto;
    top: 25%;
    margin-left:10%;
    z-index: 1000;
    position: absolute;
  }

   
  .headDiv .brandDiv{
    width: 96%;
    margin-left: 2%;
    height: 80px;
    margin-top: 0;

  }
  .brandContainer{
    align-items: center !important;
    justify-content: space-between;
  }
  .brand-name-container{
    width: 40%;
  }



  .header-brand li{
    padding-bottom: 0 !important;
  }

}
.menu-button{
  color: var(--ternaryColor);
  font-size: 250%;
  display: none;
  z-index: 100;
}

@media (max-width: 991px) {
 .menu-button{
   display: block;
 }
 .logo-img-div{
  max-width: 40%;
  height: 100%;
}

}
@media (max-width:576px) {
  .logo-img-div{
    max-width: 70%;
    height: 100%;
  }
}




.modalOuterDiv .yl-instructor-img-text:hover .yl-instructor-text {
  background-color: #fff;
  
}

.modalOuterDiv .yl-instructor-img-text:hover .yl-instructor-text:after {
  background-color: #fff;
  
}

.modalDivNotify{
  width: 60%;
  position: absolute;
  top: 10%;
  margin-left: 20%;
}


.modalDivNotify .modalContainer{
background-color: #fff !important;
display: block;
width: 100%;
padding: 20px;
border-radius: 10px;
}

.yl-contact-content-icon i{
  color: var(--secondaryColor);
}

.contactQueryType {
  height: 55px;
  width: 248px;
  border: none;
  margin: 0px 15px;
  padding-left: 20px;
  border-radius: 8px;
  background-color: #efeff0;
  color: #757575;
}

.uploadButton{
  width: 100%;
}

.modal-content{
  background-color: transparent;
  border: none;
}

.modal-content svg path{
  stroke: #fff;
}

.msy-aboutus_info{
  max-width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.msy-course-type1,.msy-offer-carousel,
.msy-weOffer-cont,.msy-gallery1,.msy-gallery

{
  max-width: 100%;
}

/* Changes to improve UI/UX - Gaurav */

/* Navbar Changes */

.navbar-brand {
  margin-right: 0;
}

.brand-name-container {
  width: unset;
}

.navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu {
  top: 40px;
  right: 0;
  max-width: max-content;
}

@media screen and (max-width: 1030px) and (min-width: 992px) {
  .brand-name-container {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-menu {
    margin-left: 4%;
    max-width: max-content;
  }
}

/* About Us Section */

.aboutus-section {
  margin: 100px 0;
  margin-bottom: 0;
}

.msy-aboutUs2 {
  margin-top: 120px;
  padding: 100px 10px;
}

.aboutus-grid-1 {
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.aboutus-grid-1 > * {
  flex-shrink: 1;
}

.msy-aboutUs_para {
  padding: 10px 30px;
}

.msy-aboutus_info {
  gap: 40px;
}

.msy-aboutus_info > * {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .aboutus-grid-1 {
    flex-direction: column;
    justify-content: center;
  }

  .msy-offerHead {
    padding: 0;
  }

  .aboutus-grid-1  a {
    text-align: center;
  }
  
  .msy-aboutUs2 {
    margin-top: 60px;
    padding: 60px 10px;
  }
}

/* Gallery */

.msy-gallery-row {
  justify-content: center;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img:hover > img {
  transform: scale(1.1);
}

.gallery-img > img {
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .gallery-img {
    width: unset;
  }
}

/* Testimonial Section */

.testimonial {
  padding: 100px 0;
}

/* Notification Section */

.noti-section {
  margin: 100px auto;
  margin-top: 0;
}

.noti-grid {
  padding: 25px 10px;

  justify-content: center;
  gap: 30px;
}

.noti-card-holder {
  padding: 0;
  max-width: 300px;
}

@media screen and (max-width: 991px) {
  .noti-section {
    margin: 100px 0;
  }
}

/* Footer */

.msy-footer {
  padding: 80px 0;
}

/* Contact Us */

.contact-container {
  padding: 100px 0;
}

.yl-contact-content-inner {
  height: 100%;
}

/* ABout Page */

.about-page-grid-1 {
  margin-top: 10em;

  gap: 30px;
  align-items: center;
  flex-wrap: nowrap;
}

.about-page-grid-1 > * {
  flex-shrink: 1;
}

.about-grid-1-text-div > h1 {
  margin-bottom: 30px;
}


@media screen and (max-width: 991px) {
  .about-page-grid-1 {
    margin-top: 8em;
    flex-direction: column;
  }

  .about-page-grid-1 > * {
    max-width: 628px;
  }
}

@media screen and (max-width: 585px) {
  .about-grid-1-para {
    text-align: center;
  }
}

/* Mission Section */

.mission-section {
  margin: 100px 0;
  margin-bottom: 0;
}

.mission-heading {
  margin-bottom: 50px;
}

.mission-img {
  margin-bottom: 40px;
}

.mission-para {
  margin: 0 auto;
  max-width: 600px;
}

.mission-para ul {
  padding-left: 48px !important;
}

.mission-para ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .mission-section {
    margin: 50px 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .mission-para ul {
    padding-left: 25px !important;
  }
}

/* Vision Section */

.vision-section {
  height: unset;
  margin: 20px 0;
}

.vision-heading {
  margin-bottom: 50px;
}

.vision-img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

@media screen and (max-width: 530px) {
  .vision-img {
    max-width: 80%;
  }
}


/* Why Us */

.whyus-section {
  margin: 60px 0;
  margin-bottom: 20px;
}

.whyus-heading {
  margin-bottom: 50px;
}

.whyus-img {
  margin-bottom: 50px;
}

.whyus-para {
  margin: 0 auto;
  max-width: 700px;
}

/* Director/Founder Msg */

.msg-section {
  margin: 0;
  justify-content: center;
}

.msg-heading {
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .msg-heading {
    margin-bottom: -40px;
  }
}

.msg-post {
  margin-bottom: 15px;
}

/* Contact Form */

.contact-container {
  padding-bottom: 0;
}

.yl-contact-content-wrap {
  padding: 20px;
}

.contact-content-row > * {
  max-width: 350px;
}

.yl-contact-form-wrap {
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .contact-content-row {
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .yl-contact-form-input {
    justify-content: center;
  }

  .contact-form-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 570px) {
  .yl-contact-form-wrap {
    margin-top: 55px;
  }
}
